/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */

.wrapper {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
  background-color: #4ec7e4;
}
.button {
  width: 271px;
  height: 66px;
  background: #e2f764;
  border-radius: 18px;
  border-color: transparent;
}
.text {
  font-weight: 200;
  max-width: 900px;
  text-align: center;
  padding: 12px;
  padding-bottom: 53px;
}
.card {
  width: 1236px;
  height: 780px;
  border-radius: 24px 24px 0px 0px;
  background-color: #fff;
  background-image: url("image\ 3.png");
  background-position: 50% 100%;
  background-size: 672px 398px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 236px;
  margin-top: 43px;
}
